<div class="container">
    <div class="row justify-content-center">
{{#each projects as |project|}}
<div class="card text-white bg-dark col-md-4 border-dark" style="width: 18rem;">
    <img src="/assets/{{project.projectImage}}" class="card-img-top" alt="projects" height="200px" width="200px">
    <div class="card-body">
        <h5 class="card-title">{{project.projectName}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="{{projectURL}}" class="btn btn-primary">Visit {{project.projectName}}</a>
  </div>
</div>
{{/each}}
    </div>
</div>